p Hola mundo
h1 yo soy un header 1
h3 yo soy un header 3
h5 yo soy un header 5

div#container(style='border:1px black solid; background-color:red;')
  p(style='font-size:2.5em') estoy dentro de un div
  p yo tmb
