extends layout

block content
  p Hola mundo

  div#container(style='border:1px black solid; background-color:lightblue; padding:5px;')
    p(style='font-size:2.5em') estoy dentro de un div

  h1 Variable from url
  p el nombre de mi perro es:
    em #{dog}

  hr

  .wrapper
    - const myName = 'Arlin Grijalba';
    - const myNameUpCase = myName.toUpperCase();

    p #{myName}
    p #{myNameUpCase}
    p #{myName.toUpperCase()}

  hr
    
block footer
  span Esta pagina es la de hello pug
